<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Marketing</title>
    <link rel="stylesheet" href="app/view/Assets/css/login.css">
</head>
<body>
    <div class="title">
        <h1>Project Email Marketing</h1>
        <p>Para uso proprio</p>
    </div>
    

    <div class="container">
        <h2>Login para acessar</h2>
        <form action="">
            <div class="input">
                <label for="nome">Nome</label>
                <input type="text" name="nome" required><br>
                <label for="senha">Senha</label>
                <input type="password" name="senha" required>
                
            </div>   
            <div class="input">
                <input type="submit" value="Entrar">
            </div> 
        </form>
    </div>
</body>
</html>